Figures/Chap4/S3noise.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/SUSthermal-min.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/CM-Loops.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap7/Pipeline.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap7/eff-L1.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap7/templatespacing_M_a.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap3/IFO2.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/PhaseNoises.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/ASC.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/CMs.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap2/Michelson.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/LSC-Loops.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/residuals.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap7/ce_9_6.png filter=lfs diff=lfs merge=lfs -text
Figures/AppC/MCdiagram.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap1/pulsars.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/LSC.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/Tides.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap7/lag_mid_dist.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap7/templatespacing_f_Q.png filter=lfs diff=lfs merge=lfs -text
Figures/AppG/BSC.png filter=lfs diff=lfs merge=lfs -text
Figures/AppG/SUS.png filter=lfs diff=lfs merge=lfs -text
Figures/AppH/PD-Circuit.png filter=lfs diff=lfs merge=lfs -text
Figures/AppI/Peanut-cross.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap2/PRM.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/Loops.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap7/eff0.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap7/f_hist.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap8/Porcupine.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap8/s5noise-old.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap8/s5noise.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/BSCtf2.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/NoiseHist.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/CM.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/CMs90.png filter=lfs diff=lfs merge=lfs -text
Figures/AppC/MC-block_diagram.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap1/CropCircles.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/DARM-model.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap7/ce_hist.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap7/eff-H1.png filter=lfs diff=lfs merge=lfs -text
Figures/AppI/Peanut-plus.png filter=lfs diff=lfs merge=lfs -text
Figures/AppI/Peanut-unpol.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/LocalDamping.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap7/f_hist_all.png filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/cmnoise3b.pdf filter=lfs diff=lfs merge=lfs -text
Figures/AppH/PD-Circuit.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/coildriver.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/L1LSC.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/Loops.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/residuals.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/S2-bud_030629.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/ASC2b.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/FreqNoiseReq.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/disturbances.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/S2noiseComp.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/CoilNoise.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/S1noiseComp.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/POSdamp.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap7/eff-H1.pdf filter=lfs diff=lfs merge=lfs -text
Figures/AppC/mcnoise.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/S3noiseComp.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/bscuu.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap7/co_dist.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/LLOLHO-seis.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/violins.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/ASPD.pdf filter=lfs diff=lfs merge=lfs -text
Figures/AppC/mcn2.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/dwf2.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/violins-old.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/cm_loops-t.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/dwf.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap7/f_hist_all.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap7/cooter.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap3/plant.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/FreqNoiseCoupling.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/PEPI-onoff.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap7/ParamEst-Ave.pdf filter=lfs diff=lfs merge=lfs -text
Figures/AppC/mcn.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/PhaseNoises.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/ASC2.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/LSC-Loops.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/Tidal-PredComp.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap1/pulsars.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap8/s5noise2.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap7/strainer.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap2/Michelson.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap2/PRM.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/S3noise-z.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/common-diff.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/cm_acts.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap7/f_hist.pdf filter=lfs diff=lfs merge=lfs -text
Figures/AppH/ASPD.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/NoiseHist.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/DARM-model.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/cmnoise3.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap3/IFO.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/LLOLHO-seis2.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/S3noise.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap7/eff-L1.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap8/s5noise.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap3/IFO2.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/POBnoise.pdf filter=lfs diff=lfs merge=lfs -text
Figures/Chap3/ASPD.pdf filter=lfs diff=lfs merge=lfs -text
Figures/AppC/MC.sxd filter=lfs diff=lfs merge=lfs -text
Figures/Chap2/PRM.sxd filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/coildriver.sxd filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/CM.sxd filter=lfs diff=lfs merge=lfs -text
Figures/Chap2/Michelson.sxd filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/SensingChain.sxd filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/actuation.sxd filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/DARM-model.sxd filter=lfs diff=lfs merge=lfs -text
Figures/Chap7/Pipeline.sxd filter=lfs diff=lfs merge=lfs -text
Figures/Chap2/BeamTube2b.jpg filter=lfs diff=lfs merge=lfs -text
Figures/Chap3/IFO.jpg filter=lfs diff=lfs merge=lfs -text
Figures/Chap3/IFO2.jpg filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/DACnoise.jpg filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/FreqNoiseCoupling.jpg filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/L1LSC.jpg filter=lfs diff=lfs merge=lfs -text
Figures/Chap2/BS.jpg filter=lfs diff=lfs merge=lfs -text
Figures/Chap1/GRB-DestroyStar.jpg filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/SensingChain.jpg filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/bscuu.jpg filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/L1SUS_ETMY.jpg filter=lfs diff=lfs merge=lfs -text
Figures/AppC/MCdiagram.jpg filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/coildriver.jpg filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/common-diff.jpg filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/violins-old.jpg filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/S3noise.jpg filter=lfs diff=lfs merge=lfs -text
Figures/Chap3/BodePlant.jpg filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/actuation.jpg filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/dampingdiagram.jpg filter=lfs diff=lfs merge=lfs -text
Figures/Chap6/RMfuckup.jpg filter=lfs diff=lfs merge=lfs -text
Figures/Chap2/BeamTube2.jpg filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/L1LSC.tiff filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/L1LSC.gif filter=lfs diff=lfs merge=lfs -text
Figures/Chap7/eff-L1.fig filter=lfs diff=lfs merge=lfs -text
Figures/Chap7/templatespacing_M_a.fig filter=lfs diff=lfs merge=lfs -text
Figures/Chap7/templatespacing_f_Q.fig filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/NoiseHistory.fig filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/S2noises.fig filter=lfs diff=lfs merge=lfs -text
Figures/Chap7/cooter.fig filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/S1noises.fig filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/S3noise.fig filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/cm_acts.fig filter=lfs diff=lfs merge=lfs -text
Figures/Chap7/eff-H1.fig filter=lfs diff=lfs merge=lfs -text
Figures/Chap7/strainer.fig filter=lfs diff=lfs merge=lfs -text
Figures/Chap3/plant.fig filter=lfs diff=lfs merge=lfs -text
Figures/Chap3/plant2.fig filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/BSCtf2.fig filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/pobnoise.fig filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/LSC-Loops.fig filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/Tidal.fig filter=lfs diff=lfs merge=lfs -text
Figures/Chap8/s5noise3.fig filter=lfs diff=lfs merge=lfs -text
Figures/Chap1/Pulsars.fig filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/PhaseNoises.fig filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/coils.fig filter=lfs diff=lfs merge=lfs -text
Figures/Chap5/residuals.fig filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/BSCtf.fig filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/S3noises.fig filter=lfs diff=lfs merge=lfs -text
Figures/Chap4/violins.fig filter=lfs diff=lfs merge=lfs -text
